In [6]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 

import torch
from transformers import BertForQuestionAnswering
from transformers import BertTokenizer

In [8]:
SQuAD = pd.read_json("https://rajpurkar.github.io/SQuAD-explorer/dataset/train-v2.0.json")
SQuAD.head()

  version                                               data
0    v2.0  {'title': 'Beyoncé', 'paragraphs': [{'qas': [{...
1    v2.0  {'title': 'Frédéric_Chopin', 'paragraphs': [{'...
2    v2.0  {'title': 'Sino-Tibetan_relations_during_the_M...
3    v2.0  {'title': 'IPod', 'paragraphs': [{'qas': [{'qu...
4    v2.0  {'title': 'The_Legend_of_Zelda:_Twilight_Princ...

In [10]:
# SQuAD.head(1).values

In [14]:
# del  SQuAD['version']
cols = ['text', 'question', 'answer']

comp_list = []
for index, row in SQuAD.iterrows():
    for i in range(len(row['data']['paragraphs'])):
        for j in (row['data']['paragraphs'][i]['qas']):
            temp_list = []
            temp_list.append(row["data"]["paragraphs"][i]["context"])
            temp_list.append(j["question"])
            if j["answers"]:
                temp_list.append(j["answers"][0]["text"])
            else:
                temp_list.append("")
        comp_list.append(temp_list)
new_df = pd.DataFrame(comp_list,columns=cols)

In [17]:
new_df.to_csv("SQuAD_data.csv", index=False)
data = pd.read_csv("SQuAD_data.csv")
data.head()

,text,question,answer
0,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,What was the name of Beyoncé's first solo album?,Dangerously in Love
1,Following the disbandment of Destiny's Child i...,What is the name of Beyoncé's alter-ego?,Sasha Fierce
2,"A self-described ""modern-day feminist"", Beyonc...",What magazine named Beyoncé as the most powerf...,Forbes
3,"Beyoncé Giselle Knowles was born in Houston, T...",Beyoncé was raised in what religion?,Methodist
4,Beyoncé attended St. Mary's Elementary School ...,What choir did Beyoncé sing in for two years?,St. John's United Methodist Church

In [18]:
model = BertForQuestionAnswering.from_pretrained('bert-large-uncased-whole-word-masking-finetuned-squad')
tokenizer = BertTokenizer.from_pretrained('bert-large-uncased-whole-word-masking-finetuned-squad')

Downloading (…)lve/main/config.json: 100%|██████████| 443/443 [00:00<00:00, 73.2kB/s]
Downloading (…)"pytorch_model.bin";: 100%|██████████| 1.34G/1.34G [00:54<00:00, 24.8MB/s]
Downloading (…)solve/main/vocab.txt: 100%|██████████| 232k/232k [00:00<00:00, 715kB/s]
Downloading (…)okenizer_config.json: 100%|██████████| 28.0/28.0 [00:00<00:00, 11.9kB/s]

In [19]:
random_num = np.random.randint(0, len(data))
question = data["question"][random_num]
text = data["text"][random_num]

In [22]:
!mkdir data
!mv SQuAD_data.csv data/

mkdir: cannot create directory ‘data’: File exists